<header>
    <div class="logo-wrap">
        <p class="logo"><span class="logo">Virtual Pet</span></p>
    </div>
    <div class="mini-navbar">
        <ul>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/create">Create Pet</a>
            </li>
            <li>
                <a routerLink="/my-pet">My Pet</a>
            </li>
            <li>
                <a routerLink="/catalog">Catalog</a>
            </li>
            <li>
                <a routerLink="/search">Search</a>
            </li>
        </ul>
    </nav>
</header>