.st0 {
    fill: #AD5C11;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st2 {
    fill: #835712;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st3 {
    fill: none;
}

.st4 {
    fill: #321908;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st5 {
    opacity: 0.38;
}

.st6 {
    fill: #C7B299;
}

.st7 {
    opacity: 0.42;
    fill: #D9D3CE;
}

.st8 {
    fill: #AE7418;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st9 {
    fill: #42210B;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #241002;
    stroke: #000000;
    stroke-width: 6;
    stroke-miterlimit: 10;
}

.st11 {
    opacity: 0.42;
}

.st12 {
    fill: #F14950;
}

.st13 {
    fill: #00FFFF;
}

.st14 {
    fill: #FCEE21;
}

.st15 {
    fill: #FFFFFF;
}
