<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">Virtual Pet</span></p>
        </div>
        <div class="mini-navbar" *ngIf="!(isLoggedIn$ | async)">
            <ul>
                <li>
                    <a routerLink="/">Home</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <p *ngIf="message" [ngClass]="{'error-message' : isMessageError, 'success-message': !isMessageError}" class="notification">{{message}}</p>
            </ul>
        </div>
        <div class="mini-navbar" *ngIf="(isLoggedIn$ | async)">
            <!-- <li>
                <a routerLink="/user/profile">{{( currentUser$ | async)?.email}}'s Profile</a>
            </li> -->
            <ul>
                <li>
                    <a routerLink="/create">Create Pet</a>
                </li>
                <li>
                    <a routerLink="/my-pet">My Pet</a>
                </li>
                <li>
                    <a routerLink="/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/search">Search</a>
                </li>
                <li>
                    <a href="javascript:void(0);" (click)="logoutHandler()">{{( currentUser$ | async)?.email}}
                        Logout</a>
                </li>
            </ul>
        </div>
    </div>

</header>