.pet-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid #161616;
    padding: 30px;
    width: 200px;
}

.pet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

.btn {
    border-radius: 10px;
    background-color: #662D91;
    padding: 10px;
    font-family: "Poppins";
    color: white;
    width: 70%;
    box-sizing: border-box;
}