<div class="box">
    <div class="wrapper">
        <h4 *ngIf="petName" class="pet-name-text">{{petName}}
            <i *ngIf="selectedGender" class="pet-name-gender-sign">{{ this.selectedGender == "female" ? '&female;' :'&male;'}} </i>
        </h4>
        <app-egg-svg></app-egg-svg>
        <!--<app-dog-svg *ngIf="hasChosenPet" [ngClass]="{'dog' : hasChosenPet }"></app-dog-svg>-->
        <img *ngIf="hasChosenPet" alt="item" class="pet-img" [src]="itemImageUrl">
    </div>
    <form #createForm="ngForm" class="create" (ngSubmit)="createNewPet()">
        <h1>Create your virtual pet!</h1>
        <div class="form-group">
            <label for="pet-name" class="table">Pet Name</label>
            <input #petNameInput="ngModel" type="text" name="pet-name" id="pet-name" ngModel required minlength="3">
      
            <ng-container *ngIf="petNameInput.touched && petNameInput.invalid">
                <p *ngIf="petNameInput.errors?.['required']" class="error">
                    Theme name is required.
                </p>
                <p *ngIf="petNameInput.errors?.['minlength']" class="error">
                    Theme name must be at least 3 characters long.
                </p>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="pet-type" class="table">Pet Type</label>
            <select #selectPetType="ngModel" appSelectValidator="select" name="pet-type" id="pet-type" ngModel  required>
                <option [ngValue]="select">Select Pet Type</option>
                <option *ngFor="let pet of pets" [ngValue]="pet">{{pet}}</option>
            </select>
            <ng-container *ngIf="selectPetType.touched && selectPetType.invalid">
                <p *ngIf="selectPetType.errors?.['required']" class="error">
                    Theme name is required.
                </p>
                <p *ngIf="selectPetType.errors?.['minlength']" class="error">
                    Theme name must be at least 3 characters long.
                </p>
            </ng-container>
        </div>
        <div class="gender">
            <label id="gender-radio-group-label">Gender:</label>
            <mat-radio-group aria-labelledby="gender-radio-group-label" class="gernder-radio-group"
                [(ngModel)]="selectedGender" name="gender" #gender="ngModel">
                <mat-radio-button class="gender-radio-button" *ngFor="let gender of genderTypes" [value]="gender"
                    color="primary" name="genderType" >
                    {{gender}}
                </mat-radio-button>
                <ng-container *ngIf="gender.invalid">
                    Gender is required!
                </ng-container>
            </mat-radio-group>
        </div>
        <button type="submit" class="btn" [disabled]="!createForm.valid">Submit</button>
    </form>
</div>