.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse;
    align-content: flex-start;
    margin: 10px 200px 100px 100px;
    padding: 30px 10px 10px 10px;
    /*padding-top: 60px;*/
}

form {
    display: flex;
    gap: 10px 10px;
    row-gap: 10px;
    flex-direction: column;
    align-self: center;
    margin: 15px 15px;
    width: 100%;
    height: 100%;
    padding: 0px 0px 30px 0px;
}

form div {
    display: flex;
    align-self: center;
}

label {
    margin: 10px;
}

.btn {
    width: 50%;
    align-self: center;
}

app-egg-svg {
    display: flex;
    max-height: 80%;
    max-width: 80%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.dog {
    max-width: 130px;
    position: absolute;
    bottom: 140px;
    left: 190px;
}

.pet-name-text {
    font-family: "Poppins";
    font-size: 34px;
    color: #666666;
    align-self: stretch;
    position: absolute;
    margin: -50px;
}

/*
.pet-name-gender-sign::before {
    content: "\f221";
}
*/

.pet-name-gender-sign {
    font-family: "Font Awesome 5 Free";
    color: #666666;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    align-self: center;
    position: absolute;
    margin: 5px 0px 0px 5px;
}

.gender {
    display: flex;
    flex-flow: wrap row;

}

.gender-radio-group {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.gender-radio-button {
    margin: 5px;
    align-self: center;
}

:host ::ng-deep .mat-radio-inner-circle {
    border-radius: 2px;
    background-color: transparent !important;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    height: 30px;
    width: 15px;
    margin-top: -8px;
    margin-left: 3px;
}

:host ::ng-deep .mat-radio-outer-circle {
    background: #666666 !important;
}

:host ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    transform: rotate(45deg) scale(0.5);
}

:host ::ng-deep .mat-radio-button .mat-radio-ripple {
    height: 20px;
    /*double of your required circle radius*/
    width: 20px;
    /*double of your required circle radius*/
    left: calc(50% - 10px);
    /*'10px'-same as your required circle radius*/
    top: calc(50% - 10px);
    /*'10px'-same as your required circle radius */
}

img {
    height: 30%;
    width: 30%;
    position: absolute;
    margin: 170px;
}

h1 {
    text-align: center;
}

.btn {
    border-radius: 10px;
    background-color: #662D91;
    padding: 10px;
    font-family: "Poppins";
    color: white;
    width:70%;
    box-sizing: border-box;
}

.pet-name-text,
.pet-name-gender-sign {
    color: #1B1464;
}


select,
input,
span {
    width: 200px;
    box-sizing: border-box;
}

.table {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}

#gender-radio-group-label {
    margin-left: auto;
    margin-right: 45px;
    text-align: right;
}

mat-radio-group {
    align-self: center;
}

form div{
    display:flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding: 0px 90px 0px 0px;
}

p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
}

.input-error {
    border-left-color: red;
}