<div class="home-page">
    <div class="image">
        <img class="home-image" src="../../assets/images/TAMA_Blog_041921-1000x664.jpg">
    </div>

    <div class="pet-description">
        <h1>Tamagochi - keep your pet fed, clean and happy</h1>
        <p>Tamagotchi is more than a toy, it is a learning device.
            It teaches people to be responsible, to care for somethin like a pet.</p>
    </div>
</div>

<div class="last-pets">
    <h1>Catalog last 3 pets</h1>
    <div class="pet-box">
        <div class="pet-content">
            <img src="../../assets/images/cat-pet.jpg">
            <p>Name</p>
            <p>Level:</p>
            <p>Likes:</p>
            <button type="submit" class="btn">Submit</button>
        </div>
    </div>
</div>